.global-wrapper {
    min-width: 320px;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.main-wrapper {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width:1160px;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.global-wrapper .main-wrapper {
    position: relative;
    overflow: hidden;
    display: block;
}

#navlist li {
    display: inline-block;
    padding-right: 0.9em;
    padding-left: 0.9em;
    border-right: 1px solid #222222;
}

#navlist li.last {
   border: none;
}
#navlist {
   font-family: Verdana, Arial, sans-serif;
   font-size: 0.9em;
   font-weight: normal;
   text-align: center;
}
#navlist a {
   color: #222222;
   text-decoration: none;
}
#navlist a:hover {
   color: #888888;
   text-decoration: none;
}

.iframe-wrapper {
    padding-top: 151%;
    position: relative;
    width: 100%;
    height: 0;
}

iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}