iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width:1160px;
    padding-right: 10px;
    padding-left: 10px;
}