.global-wrapper {
    min-width: 320px;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.main-wrapper {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width:1160px;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.main-wrapper h1 {
    text-align: center;
}

.global-wrapper .main-wrapper {
    position: relative;
    overflow: hidden;
    display: block;
    align-content: center;
}

ul {
    padding: 2px;
    margin: 2px;
}

li{
    display:inline;
    position: relative;
    margin: 2px;
}

li button {
    border: none;
    background-color: white;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 14pt;
}

li button:after{ 
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

li button:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 1.2;
}

.iframe-wrapper {
    padding-top: 151%;
    position: relative;
    min-width: 750px;;
    height: 0;
    align-self: center;
    margin: 100px auto 200px;
}

iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    
}

body {
    font-family: Helvetica;
    margin: 0;
}
a {
    text-decoration: none;
    color: #000;
}
.site-header { 
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
    width: 100%;
}
  
.site-header::after {
    content: "";
    display: table;
    clear: both;
}
  
.site-identity {
    float: left;
}
  
.site-identity h1 {
    font-size: 1.5em;
    margin: .7em 0 .3em 0;
    display: inline-block;
}
  
.site-identity img {
    max-width: 150px;
    float: left;
    margin: 0 10px 0 0;
}
  
.site-navigation {
    float: right;
}
  
.site-navigation ul, li {
    margin: 0; 
    padding: 0;
}
  
.site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}